@media screen and (max-width: 870px) {
  header#header {
    background-image: url("../../images/bg-header-mobile.png");

    p {
      font-size: 1rem;
      line-height: 1.4;
    }
  }

  figure {
    margin-bottom: 2rem;
  }

  .feature {
    margin-bottom: 3.5rem;
    text-align: center;
  }
  .button__teal {
    margin-bottom: 1rem;
  }

  body {
    width: 100vw;
    overflow-x: hidden;
  }
}

@media screen and(max-width: 992px) {
  .partners__images {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30rem;
  }

  footer#footer {
    .logo {
      text-align: center;
    }
    table {
      td {
        text-align: center;
        display: inline-block;
        width: 100%;
        margin-left: 2rem;
      }
    }
  }
}
